<!DOCTYPE html>

#parse ($init)


<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	#*<meta content="initial-scale=1.0, width=device-width" name="viewport" />*#

	$theme.include($top_head_include)
	
	<link rel="shortcut icon" type="image/png" href="$images_folder/custom/favicon.png"/>
	#css("$css_folder/$theme_style")
	<script type="text/javascript" src="$javascript_folder/bootstrap.min.js" ></script>

	<script type="text/javascript">
        function handleChange() {
            var arr = document.getElementById('menu1') ;
            window.location = arr.value ;
        } 
    </script>
</head>

<body class="$css_class opencps-theme ux mBody">

	$theme.include($body_top_include)
	
	#if ($is_signed_in && $permissionChecker.isOmniadmin())
		#dockbar()
	#end
	
	<header id="banner" role="banner" class="opencps-header-wrapper guest member">
		<div class="header container align-middle">
            <div class="logo center-hoz">
				<a href="$site_default_url">
					<img src="$images_folder/schemes/dvchuyen/logo.png">
					<div class="text-logo">
						Cổng dịch vụ công trực tuyến
						<span>UBND Huyện</span>
					</div>
				</a>
			</div>
            <div class="right-panel">
	            <div class="hotline">
	                #language ("hotline-key")<br/><span class="invisible">0212.3838.469</span>
	            </div>
	            <div class="nav-container-small">
					<span class="account-info">
				    	<span class="account-name">
				    		<span style="padding-left: 10px;">$user_email_address</span>
							<span class="tooltiptext">#language ("welcome-key") $user_name</span>
						</span>
						$theme.runtime("113_WAR_opencpsnotificationportlet")
						<span class="logout"><a href="$sign_out_url" class="btn-dn">#language ("logout-key")</a></span>
					</span>
				</div>
			</div>							
		</div>
	</header>
	#*<div class="nav-container">
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation_private_page.vm")
		#end
	</div>*#
	
	<article id="wrapper">	
		<div id="content" class="container">
	
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</article>
	
	<footer>
		<div class="content">
            <div class="span3 logo">
                <p>Copyright © 2016 - OpenCPS v1.7</p>
            </div>
            <div class="span2">
                <p class="title">#language ("danhmuc-key")</p>
                #parse ("$full_templates_path/navigation_footer_public_page.vm")

            </div>
            <div class="span2">
                <p class="title">#language ("conduct-key")</p>
                <ul>
                    <li><a href="/register">#language ("account-register-key")</a></li>
                    <li><a href="/login">#language ("system-login-key")</a></li>
                    <li><a href="/tiep-nhan-ho-so-qua-mang">#language ("nop-hstt-key")</a></li>
                    <li><a href="/home">#language ("tracuu-ketqua-key")</a></li>
                    #*<li><a href="/can-bo-xu-ly-ho-so">#language ("cbxl-nophs-key")</a></li>*#
                </ul>
            </div>
            <div class="span2">
                <p class="title">#language ("lienhehotro-key")</p>
                <p class="address">&nbsp;</p>
                <p class="mail">&nbsp;</p>
                <p class="phone">&nbsp;</p>
            </div>
            <div class="span3">
                <p class="title">#language ("lienketwebsite-key")</p>
                <div class="select">
                    <select onchange="location = this.options[this.selectedIndex].value;">
                        <option>#language ("chon-lienketwebsite-key")</option>
                    </select>
                </div>
            </div>
        </div>
	</footer>

	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)

</body>

</html>