@charset "utf-8";

/* Supports  */
@import url(support.css);

/* Portlet  */
@import url(portlets/portlet_5.css);           /* Register */
@import url(portlets/portlet_6.css);           /* Account Info */
@import url(portlets/portlet_10.css);          /* Detail Thu-tuc-hanh-chinh */
@import url(portlets/portlet_11.css); 	       /* Menu Tab(s) Left Col */
@import url(portlets/portlet_13.css);
@import url(portlets/portlet_16.css);
@import url(portlets/portlet_19.css);          /* Tra-cuu-ho-so Homepage */
@import url(portlets/portlet_20.css);          /* Payment */
@import url(portlets/portlet_38.css);          /* Lucene Menu */
@import url(portlets/portlet_58.css);          /* Login */
@import url(portlets/portlet_113.css);         /* Notification View List */
@import url(portlets/portlet_115.css);         /* Notification View All */
@import url(portlets/portlet_1001.css);        /* Lua-chon-thu-tuc-hanh-chinh */
@import url(portlets/portlet_popup.css);       /* Styles for Popup */
@import url(portlets/portlets_custom.css);     /* Custom Portet */

/* Components  */
@import url(button.css);
@import url(input.css);
@import url(nav_toolbar.css);
@import url(searchcontainer.css);
@import url(page_iterator.css);
@import url(toptabs.css);

/* Styles  */
@import url(header.css);
@import url(footer.css);
@import url(nav_menu.css);
@import url(style-home.css);

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}