a:hover {
	text-decoration: none;
}

.portlet-boundary {
    background: #fff;
}


#navigation ul li {
    display: inline-block;
    background-image: url(../images/icon_hoa_sen.png);
    line-height: 12px;
    margin: 0 26px 0 26px;
    background-repeat: no-repeat;
}
#banner .banner .pull-right{
	margin: 12px 0 0 0;
}

#banner .banner .pull-right ul {
    margin: 7px 0 0 142px;
    list-style-type: none;
}

#content {
	background-image: url("../images/BG.jpg");
	width: 1204px;
    margin: 0 auto;
}

#footer {
	background-image: url("../images/BG.jpg");
	width: 1204px;
    margin: 0 auto;
}
.aui .navbar {
    
    margin-bottom: 0px;
}

#banner .banner .pull-right ul li:FIRST-CHILD {
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
    border-right: 1px solid #81160c;
}

#banner .banner .pull-right ul li a{
   	color: #81160c;
   	font-weight: bold;
   	text-decoration: none;
}

#banner .banner .login-area a {
    float: right;
    margin: 5px 31px 0 0;
    color: #fff;
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Regular.ttf");
}

#banner .banner .login-area img {
    float: right;
    margin: 5px 10px 0 0;
}
#wrapper {
    padding: 0 0 0 0;
    font-family: Roboto;
    background-image: url("../images/main-background.png");
}

#banner {
	background-color: #F3EFE4;
	position: relative;
}
#banner:before {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
	background: url("../images/chim.png") 0 0;
	width: 100%;
	height: 15px;
}
.banner {
    background-image: url("../images/bg_head.jpg");
    background-size: cover;
    background-position: center center;
    height: 143px;
    position: relative;
}

.banner.container {
    width: 1192px;
}

.banner .logo {
	margin: 18px 0 0 40px;
}
.banner .logo-2 {
	margin: auto;
}
.banner .login-area {
	clear: both;
	background: url(../images/bg_DangNhap.png) no-repeat center center;
    background-size: cover;
	height: 31px;
	position: absolute;
    bottom: -4px;
    width: 100%;
}
.banner ul li {
	float: left;
}
#navigation ul {
    margin: 0 0 0 0;
    background-image: url("../images/BG_navi.jpg");
    height: 47px;
    text-align: center;
    line-height: 47px;
}

#navigation ul li a {
	color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 22px;
}

#content div .row-fluid {
    width: 98%;
    margin: 0 auto 32px auto;
}

.span12#column-4 {
    height: 384px;
    position: relative;
}


#banner .banner .pull-right ul li a:hover {
    color: #0000DD;
    text-decoration: none;
}

#navigation ul li a:hover {
    color: #0000DD;
    text-decoration: none;
}

/* content-right */
#column-4 .portlet .portlet-title span {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-style: italic;
    width: 100%;
    margin-top: 20px;
}
#column-4 .portlet .portlet-title span:first-child {
    display: none;
}
#column-4 .portlet-dropzone {
    border: 1px solid #e5e1d6;
    padding: 0 0 0 4px;
}

#column-4 {
	margin-left: 2%;
    width: 23%;
}
#column-2 {
    width: 23%;
}

#column-4 img {
    margin: 3px 0 3px 0;
}

#column-4 p {
    margin: 0 0 0 0;
}

/* content-right */

/* content-center */

#column-3 .portlet-title span img{
	display: none;
}
#column-3  .portlet-title span{
	font-size: 20px;
	font-style: italic;
	margin-left: 5px;
	width: 100%;
}
#column-3 .news-title {
    text-align: justify;
}
#column-3 .news-line{
	display: inline-block;
	background-image: url("../images/lich.jpg");
	line-height: 14px;
	background-repeat: no-repeat;
	height: 110px;
	position: relative;
}
#column-3 .news-content{
	margin-left: 75px;
}
#column-3 .news-abstract{
	margin-left: 0px !important;
}
#column-3 .news-title a{
	color: #c55e24;
	font-weight: bold;
}
#column-3 .news-summary{
    text-align: justify;
	font-size: 12px;
	margin-top: 7px;
	line-height: 17px;
}
#column-3 .viewmore-panel{
	display: none;
}


#column-3 .portlet {
    border: 1px solid #E5E1D6 !important;
}


#column-3 .datefomart {
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
    height: 85px;
}
#column-3 .datefomart span {
    display: block;
    color: white;
    font-weight: bold;
    clear: both;
    text-align: center;
}
#column-3 .datefomart span:nth-child(1) {
	line-height: 55px;
	font-size: 16px;
}
#column-3 .datefomart span:nth-child(2) {
	line-height: 14px;
	font-size: 22px;
}

#column-3 .portlet-title {
    margin: 0 0 0 0;
}

/* content-center */

/* content-left */

#column-2 .portlet-boundary {
    border: 1px solid #e5e1d6;
    margin: 0 0 20px 0;
    background: #fff;
}

#column-2 .news-marquee-wrapper {
    height: auto !important;
}

#column-2 .news-wrapper span {
    margin: 0 0 0 8px;
    font-style: italic;
}

#column-2 .news-list-title li {
	text-align: justify;
    background: url("../images/lien_ket_cham.png") no-repeat left center;
    list-style: none;
    margin: 0 8px 0 8px;
    font-weight: bold;
    background-position: 2px 6px;
}

.aui body {
    padding: 0 0 0 0;
}

#column-2 .news-list-title li a {
    padding: 0 0 0 14px;
    color: #c55e24;
}

#column-2 .news-list-title {
    margin: 0 0 0 0;
}

#column-2 .portlet-topper .portlet-title {
    margin: 0 0 0 8px;
    font-style: italic;
    font-size: 18px;
}

#column-2 .news-abstract .news-line {
	    text-align: justify;
    list-style: none;
        padding: 12px 0 0 0;
    margin: 12px 9px 0 0;
    border-top: 1px dashed #333;
}
#column-2 .news-abstract .news-line:First-child {
    border-top: 0px;
}

#column-2 .news-abstract {
    margin: 0 12px 0 10px;
}


#column-1 .news-header-title span {
    color: #87a40a;
}

#column-2 .datefomart span {
    font-weight: bold;
    font-style: initial;
    color: #c55e24;
}

#column-2 .datefomart span {
    font-weight: bold;
    font-style: initial;
    color: #c55e24;
    margin: 0 0 0 0;
}


#column-2 .news-content .news-title {
    color: #333;
    text-align: justify;
    font-size: 17px;
    margin: 5px 0 7px 0;
}

#column-2 .news-abstract {
    margin: 0 0 0 10px;
}

#column-2 .news-wrapper .icon-detail {
    margin: 22px 0 13px 10px;
    padding: 7px 15px 7px 15px;
    color: #fff;
    background: #780703;
    font-family: Roboto;
    font-weight: bold;
    display: inline-block;
}

/* content-left */

/* content-top */

#column-1 .shadow {
    width: 30%;
    right: 0;
    top: 0;
    background: #000;
    opacity: 0.6;
    margin: 6% 0 0 0;
    line-height: 19px;
    height: 50px;
}

#column-1 .jssorb05 {
    display: none;
}

#column-1 .shadow p {
    margin: 0 0 0 0;
    padding: 8px 0 0 10px;
}

#column-1 .news-header-title {
    z-index: 1;
    position: absolute;
    right: 0;
    width: 30%;
	background: #000;
	opacity: 0.6;
	height: 42px;
    margin: 10px 0 0 0;
    text-align: center;
    line-height: 42px;
}


/*footer */
#content div .row-fluid:nth-child(2) {
    margin-bottom: 0px;
}
footer#footer {
    margin-top: 3px;
}

div#space {
    height: 12px;
    background-color: white;
}
.footer-left {
    background-color: #4e4136;
    text-align: justify;
}
p.white:first-child {
    padding-top: 15px;
}
p.white {
    color: white;
}
.footer-left p {
    margin: 0 10px 0 10px;
}
p.brown {
    color: #c55e24;
}
p.white:nth-child(5) {
    padding-bottom: 10px;
}

form#hrefFm {
    margin-bottom: 0px;
}

#column-3 a.icon-detail {
    background-image: url("../images/enter.png")!important;
    background-repeat: no-repeat !important;
    float: right;
    color: #81160c;
    font-weight: bold !important;
    font-size: 14px;
    padding-left: 30px;
    margin-right: 10px;
    font-family: roboto !important;
    line-height: 14px !important;
    margin-bottom: 10px;
}

a#sign-in {
    display: none;
}


   /* Responsive width 768px */
 
@media(max-width: 768px) {
#navigation {
    display: block !important;
    
}

#banner{
	width: 100%;
}
.banner.container {
    width: 93%;
    background-size: 137% 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.banner .logo{
	width: 35%;
    height: 31%;
    margin: 28px 0 0 18px;
}
#banner .banner .pull-right {
    margin: 12px 0 0 0;
    width: 40%;
}
#logo-2{
	width: 100%;
    float: right;
    margin-top: 14px;
    margin-right: 16px;
}
#navigation ul li{
	 margin: auto;
}
#banner .banner .pull-right ul {
    margin: -4px 20px 0 0px;
    float: right;
}
.banner .login-area{
	background-size: 100% 30px;
}
#banner .banner .login-area a{
	margin-top:6px;
}
#banner .banner .login-area img{
    margin: 7px 5px 0 0px;
}

.portlet-layout.row-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
div#column-1 {
    width: 100%;
}

#content{
	width: 100%;
	margin-top: 0px;
}
#content div .row-fluid {
    width: 100%;
}
#column-1 .news-header-title {
    width: 50%;
    height: 13%;
    line-height: 22px;
}
#column-1 .shadow{
	width: 50%;
	height: 67px;
    line-height: 31px;
    padding-bottom: 10px;
}
.shadow p{
	font-size: 170%;
	width: 100%;
}

#column-4 {
    margin-left: 1%;
    width: 98%;
}
#column-4 img{
	width: 100%;
}
#column-2{
 width: 98%;
 margin-left: 1%;	
}
#column-3{
 width: 98%;
 margin-left: 1%;	
 margin-bottom: 20px;
}
#footer{
	width: 100%;
}
}
 

/* navigation responsive */

#wrapper .navbar .button-navbar {
    width: 18px;
    height: 12px;
    padding: 7px 10px;
    display:none;
}

span.icon-bar {
    display: block !important;
    height: 2px !important;
   background-color: aqua;
}
@media(max-width: 979px) {
#navigation{
	display: block !important;
	
}
#column-1 .shadow{
    margin: 7.4% 0 0 0;
    width: 40%;
}
#column-1 .news-header-title{
	width: 40%;
}
#navigation ul li a{
	padding-left: 0px;
}

#column-3{
	margin-left: 1%;
}
#column-4{
	margin-left: 1%;
	
}
#wrapper .navbar .button-navbar{
	display:block;
    width: 100%;
    height: 47px;
    padding:8px 0 0 0;
    margin: 0 0 0 0;
    background-image: url("../images/BG_navi.jpg");
    background-position: 0 0;
    border: 0px;
}
span.icon-bar {
    width: 18px !important;
    margin: auto;
    margin-top: 6px !important;
    background: white !important;
}
#navigation ul{
	display: none;
}
#navigation ul li{
	width: 100%;
	background-position: 26%;
}
	
	}
  
  @media(max-width: 1280px) {
#navigation{
	display: block;
	
}
#navigation ul li{
	margin: 0 2.3% 0 1.7%;
}
.banner.container {
    width: 94%;
    background-size: 136%;
    background-repeat: no-repeat;
}
.banner .logo{
	width: 39%;
}
#content{
	width: 94%;
}
.banner .login-area{
	background-size: 100% 100%;
}
.aui .btn:hover {
    background-position: 0 0;
}
footer#footer{
	width: 100%;
}
}

 @media(max-width: 1169px){
 #navigation ul li {
    margin: 0 1.3% 0 1.3%;
}
 }

@media(min-width: 980px) {
	#navigation ul{
	display: block !important;
}
	#content{
	margin-top: 0px;
}
	#navigation{
	margin-bottom: 0px;
	}
}
.columns-2 #column-1 {
    width: 100%;
    text-align: justify;
}

/* Responsive width 480px */
 
@media(max-width: 480px) {
#navigation {
    display: block !important;
    
}
#banner .banner .pull-right ul li a{
	font-size: 66%;
}
#banner{
	width: 100%;
	height: 125px;
}
.banner.container{
	width: 100%;
	height: 130px;
}
.banner .logo{
	width: 35%;
    height: 31%;
    margin: 28px 0 0 18px;
}
#banner .banner .pull-right {
    margin: 12px 0 0 0;
    width: 40%;
}
#logo-2{
	width: 100%;
    float: right;
    margin-top: 14px;
    margin-right: 16px;
}
#navigation ul li{
	 margin: auto;
}

.banner .login-area{
	background-size: 100% 30px;
	top: 98px;
}
#banner .banner .login-area a{
	margin-top:6px;
}
#banner .banner .login-area img{
    margin: 7px 5px 0 0px;
}

.portlet-layout.row-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
div#column-1 {
    width: 100%;
}

#content{
	width: 100%;
	
}
#content div .row-fluid {
    width: 100%;
     margin-bottom: 10px;
}
#column-1 .news-header-title {
    width: 50%;
    height: 14%;
    line-height: 33px;
    margin-top: 2px;
}
#column-1 .shadow{
	width: 50%;
	margin-top:17.9%;
	transform: scale(1,0.7);
}
#column-3 .news-line{
	margin-top: 15px;
}
.shadow p{
	font-size: 170%;
	width: 100%;
}


#column-4 img{
	width: 100%;
}
#footer{
	width: 100%;
}
/* div#jssor_1 {
    min-height: 330px;
} */
#jssor_1 div:first-child {
    transform: scale(1,4.15);
}
.jssora22l,.jssora22r{
	display: none;
	
}
}